    
    body
    {
        color: white;
        margin: 0;
    }
    
    canvas
    {
        position: absolute;
        width: 100%;
        height: 90%;
    }

    input
    {
        color: white;
        background: black;
        border: thin solid white;
    }

    #options, #pattern
    {
        position: absolute;
        z-index: 2;
    }

    #pattern
    {
        width: 30%;
        height: auto;
        top: 0;
        right: 0.1%;
    }

        #pattern input
        {
            width: 98%;
            height: 10%;
            margin: auto;
            text-align: center;
        }

    #options
    {
        bottom: 0;
    }

        #options p
        {
            display: inline-block;
            margin: 1em;
        }

        #options input
        {
            display: inline-block;
            width: auto;
            margin-right: 1em;
            border: none;
        }
